<suite name="Humanize Health App">
    <test name="regression test">
        <parameter name="platformName" value="ios" />
        <parameter name="deviceName" value="iPhone" />
        <classes>
            <class name="com.humanizehealth.testcases.LoginAndCreateNewAccount" />
        </classes>
    </test>
</suite>